/* Reponsive for mobile device */
@media (max-width: 600px){
    p{
        width: 85%;
    }
    img{
        max-width:70%;
        margin: 0 auto;
        padding: 35px;
        display: inline-block;

    }
    body{
        
    }
    .half-width {
        float: none;
        width: 100%;
    }
    .half-width h1{
        text-align: center;
        font-size: 50px;
        margin: 0;
        padding: 0;
    }
    .half-width .responsive_font{
        font-size: 40px;
        margin: 0;
        padding: 0;
    }
    .anchor-button{
        text-align: center;
        display: inline-block;
        width: 70%;
    }
    
    .dream-area img{
       padding: 0;
       margin: 0 auto;
       
    }
    .dream{
        margin-top: ;
        text-align: center;
    }
   .best_web_developer{
       width: 80%;
       margin-left: 20px;
       text-align: center;
       display: block;
   }
   .fixed_right{
       width: 85%;;
   }
   .experience-area{
       margin-top: 130px;
       text-align: center;
       
   }
   #full-stack{
       width: 95%;
   }
   #baby-web{
    width: 95%;
    overflow: hidden;
    display: block;
    margin-top: 25px;
   }
}